@import '../../styles/variables';
@import '../../styles/fonts';
@import '../../styles/mixins';

.header {
    @include flex-row;
    justify-content: center;
    padding: 40px 0;
    @include tablet-and-up {
        padding: 80px 0;
    }
    &__logo-link {
        z-index: 2;
    }
    &__logo-image {
        width: 250px;
        @include tablet-and-up {
            width: 400px;
        }
    }
}